#banners {
    width: 400vw;
    height: 35vh;
   left: 0vw;
   top: 20vh;
   display: flex;
   flex-direction: row;
   position: absolute;
   transition: all 0.3s ease-in-out;
   }
   
   .banner {
   width: 90vw;
    height: 25vh;
    margin: 0 5vw;
    border-radius: 2vw;
   }
   
   #btn_banners {
    width: 16vw;
    height: 5vh;
    
   position: absolute;
   left: 42vw;
   top: 40vh;
   
   display: flex;
   flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   }
   
   .btns_banner {
       border: none;
   width: 2.5vw;
    height: vh;
    border-radius: 50%;
   background-color: rgb(21, 120, 207);
   }
   
   .btns_banner:hover {
    cursor: pointer;
    width: 7vw;
   height: 6vh;
   }
#titulo1{
   position: absolute;
   color: aliceblue;
   margin-left: 1vw;
} 