section {
    height: 240vh;
}

.container-product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.img_secondary {
    height: 10vh;
    margin-top: 1vh;
    border-radius: 10px;
}

.img_secondary img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

#images {
    height: 70vh;
    width: 8vw;
    margin: 3vh;
}

#main_img {
    height: 70vh;
    width: 34vw;

}

#main_img img {
    width: 100%;
    height: 100%;
}

#main_info {
    background-color: #C57AEB;
    height: 66vh;
    width: 43vw;
    padding: 2vh;
}

#title-product {
    font-size: 48px;
    font-family: 'Supermercado One', 'Courier New', Courier, monospace;
    font-weight: 100;
    color: white;
}

#datas-reservar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10vh 0 12vh 0;
    color: white;
    font-family: 'Lexend', 'Courier New', Courier, monospace;
    font-size: 22px;
}

#desc-product {
    font-family: 'Lexend', 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
}

#about_product {
    font-weight: 600;
    font-size: 22px;
}

.btn-reservar {
    height: 7vh;
    width: 22vh;
    font-size: 3vh;
}

.btn_entrega {
    border: none;
}

#btn_ficha {
    color: #a400f7;
    border: none;
    font-size: 16px;
    font-weight: bolder;
}

/*Section to contento of product*/

.content-product {
    background-color: #C57AEB;
    margin: 10vh 10vh 0 10vh;
    padding: 5vh;
    height: 140vh;
}

.content-product h1 {
    text-align: center;
    font-size: 60px;
}

.title_similar {
    color: white;
}

#similar_products {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 50vh;
}

.similiar_product {
    background-color: aliceblue;
    margin: 1vh 2vh 1vh 2vh;
    width: 20%;
}

#ficha_product {
    display: flex;
    flex-direction: column;
    margin: 18vh 0 0 0;
    height: 70vh;
    color: white;
}

#ficha_product h2, #ficha_product h3 {
    text-align: center;

}
#ficha_product h2 {
    font-size: 42px;
}
#ficha_product h2 {
    font-size: 30px;
}

#title_ficha {
    font-family: 'Supermercado One', 'Courier New', Courier, monospace;
    font-weight: 100;
}

#content_ficha {
    font-family: 'Lexend', 'Courier New', Courier, monospace;
    margin: 2vw;
}

#content_ficha h3 {
    margin-top: 4vh;
}