@import url(./../header.css);
@import url(./../footer.css);
@import url(./banner.css);
@import url(./section.css);
@import url(./cards.css);
@import url(./destaque.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Supermercado+One&display=swap');

body{
    background-image:url(../../../assets/img/home_background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    top: 0;
    height: max-content;
    overflow-x: hidden;
    background-color: #F6EEFB;
}