@import url(./header.css);
@import url(./infos.css);
@import url(./footer.css);

body {
    height: 90vh;
    width: 100vw;
    background-color: #F6EEFB;
    margin: 0;
}

footer {
    height: 15vh;
    width: 100vw;
}