@import url('./../header.css');
@import url('./../footer.css');
@import url('./section.css');
@import url('./../home_page/cards.css');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    margin: 0;
    height: max-content;
}

.linha-separadora {
    border: none; /* Remove a borda padrão */
    height: 2px; /* Ajusta a altura da linha */
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.815); /* Define a cor da linha */
}

.btn-entrega {
    height: 3vh;
}

.button-grow {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
    .button-grow:hover {
    transform: scale(1.1);
    }

.similiar_product {
    height: 80%;
    font-family: 'Supermercado One', 'Courier New', Courier, monospace;
}

.similiar_product img {
    margin-bottom: 5vh;
}

.contact-button {
    width: 10vw;
    font-size: 16px;
    padding: 0.9rem;
}