footer {
    height: 20vh;
    background-color: #DFC8EB;
    padding: 5vh 5vw;
}

#all_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Lexend', 'Courier New', Courier, monospace;
}

#info-1 {
    margin: 0 0 0 2vw;
    width: 25%;
}

#info-1 h5 {
    font-family: 'Supermercado One', 'Courier New', Courier, monospace ;
    font-weight: 100;
}

#info-2 {
    margin: 0 0 0 2vw;
    width: 25%;
}
#info-3 {
    margin: 0 0 0 2vw;
    width: 25%;
}