<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="./../css/carrinho/central.css">
    
</head>

<header>
    <div class="div-content">
        <div class="div-header-logo">
            <img src="./../../assets/img/logo.png" alt="" id="img-logo">
        </div>
        <div class="barra-de-pesquisa-buttons">
            <div class="div-barra-pesquisa">
                <div class="search-row">
                    <input type="text" class="search-txt" placeholder="Buscar">
                </div>
                <div class="button-row">
                    <button class="seleções-barra-de-pesquisa">Campanhas</button>
                    <button class="seleções-barra-de-pesquisa">Supermercado</button>
                    <button class="seleções-barra-de-pesquisa">Moda</button>
                </div>
            </div>
        </div>
        <div class="end-header">
            
            <img   onclick="window.location.href ='./carrinho.html'" src="https://static.vecteezy.com/system/resources/previews/016/314/413/non_2x/shopping-cart-free-png.png"
                alt="" class="images-header">
        </div>
    </div>
</header>

<body>
    <section>

        <div class="container">
            <div class="product" data-index="0" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="1" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="2" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="3" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="4" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="5" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="6" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="7" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="8" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="9" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="10" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="11" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="12" onclick="window.location.href = './produto.html'"></div>
            <div class="product" data-index="13" onclick="window.location.href = './produto.html'"></div>
        </div>
        <script type="module" src="./../js/carrinho/produtos_carrinho.js"></script>

    </section>





    
    <footer>
        <hr class="linha-separadora" style="color: gray;">
        <div id="all_info">
            <div id="info-1">
                <p>CNPJ n.º 03.007.331/0001-41 / Av. das Nações Unidas,
                    nº 3.003, Bonfim, Osasco/SP - CEP 06233-903 - empresa </p>
                <h5>Copyright © 2024 Mercado Solidario LTDA.</h5>
            </div>
            <div id="info-2">
                <h4>Trabalhe Conosco</h4>
                <h4>Contato</h4>
                <h4>Termos e Condições</h4>
            </div>
            <div id="info-3">
                <h4>Acessibilidade</h4>
                <h4>Privacidade</h4>
                <h4>Seguros</h4>
            </div>
        </div>
    </footer>
</body>

</html>