<!DOCTYPE html>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Mercado Solidário</title>
    <script type="module" src="./js/projetos.js" defer></script>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <header style="height: 10vh; background-color: #8382D1; margin-bottom: 10px;">
    </header>
    <section>
        <div id="banners">
        </div>

        <div id="btn_banners">
            <button class="btn_banner" onclick="trocarBanner(0)"></button>
            <button class="btn_banner" onclick="trocarBanner(1)"></button>
            <button class="btn_banner" onclick="trocarBanner(2)"></button>
            <button class="btn_banner" onclick="trocarBanner(3)"></button>
        </div>
        <div id="box_title_campanhas">
            <div id="campanhas_title">
                <h2>Campanhas Em Destaque</h2>
            </div>
        </div>

        <div id="destaques">            
        </div>

        <div id="campanhas">
        </div>
    </section>

    <footer>
    </footer>
      
</body>

</html>