<!DOCTYPE html>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Mercado Solidário</title>
    <script type="module" src="projetos.js" defer></script>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <header style="height: 10vh; background-color: #8382D1; margin-bottom: 10px;">
    </header>
    <section>
        <div id="banners">
            <div class="banner" style="background-color: rgba(24, 219, 66);">
                <p id="titulo1">O Sangue é a entidade do sentimento. Ele busca a intensidade: dor, obsessão, paixão, amor, fome, ódio - tudo que envolve sentir uma emoção extrema agrada a entidade de Sangue.
                Os sentimentos extremos do Sangue superam a razão e a calmaria do Conhecimento.
                </p>
            </div>
            <div class="banner" style="background-color: rgb(197, 95, 0);">
                <p id="titulo2"> A Morte é a entidade do tempo. Ela busca os momentos vivenciados, distorcendo a percepção egóica da existência de cada indivíduo para seu próprio agrado.</p>
            </div>
            <div class="banner" style="background-color: rgb(85, 8, 50);">
                <p id="titulo1">O Conhecimento é a entidade da consciência. Descobrir, aprender, conhecer, decifrar. Ter a própria percepção do Outro Lado e suas entidades agrada o elemento de Conhecimento.</p>
            </div>
            <div class="banner" style="background-color: rgb(26, 212, 212);">
                <p id="titulo1"></p>
            </div>
        </div>

        <div id="btn_banners">
            <button class="btn_bunner" onclick="trocarBanner(0)"></button>
            <button class="btn_bunner" onclick="trocarBanner(1)"></button>
            <button class="btn_bunner" onclick="trocarBanner(2)"></button>
            <button class="btn_bunner" onclick="trocarBanner(3)"></button>
        </div>
        <div id="box_title_campanhas">
            <div id="campanhas_title">
                <h2>Campanhas Em Destaque</h2>
            </div>
        </div>
    </section>

    <footer>
    </footer>
      
</body>

</html>